<!doctype html>
<html>
  <head>
    <title>Gigatron 5000</title>
		<!-- Accesses Sinatra's public folder -->
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<script src="js/bootstrap.js"></script>
  </head>
  <body>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<blockquote>"Seriously though, I want my money back." - Jason Bull</blockquote>
					<h3>This is the greatest tool you have ever owned and then later returned</h3>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h2>Something tells me you are going to love (and then immediately hate) the</h2>
					<h1>Gigatron 5000</h1>
					<img src="img/gigatron5000.jpg"/>
				</div>
			</div>
		</div>
  </body>
</html>